body { 
    background-color: greenyellow;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    
}

.nav {
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    color: black;
    list-style: none;
    text-align: center;
    padding: 30px 0 30px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.nav > li > a {
    text-decoration: none;
    color: black;
}

.nav > li > a:hover{
    color: white;
}

.center1 {
    text-align: center;
    padding-top: 20px;
    font-size: 70px;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center3 {
    text-align: center;
    padding-top: 20px;
}

img {
    border-radius: 20%;
  }
